<h1>@Model.Name</h1>

<h2>@Model.Type</h2>
<ul>
  <li>FOOD: @Model.Food</li>
  <li>REST: @Model.Rest</li>
  <li>ATTENTION: @Model.Attention</li>
</ul>

<a href="/pets/new">Add another pet</a>
<a href="/pets">View all pets</a>
